<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}/KFDtool/AppLog.txt" layout="-----${longdate}|${level:uppercase=true}|${callsite}|${newline}${message}" />
  </targets>

  <rules>
    <!-- uncomment for full debug logging -->
    <!--
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    -->

    <!-- uncomment for full debug logging without adapter serial protocol logging -->
    <!--
    <logger name="KFDtool.Adapter.Protocol.Serial.*" maxlevel="Debug" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    -->

    <!-- default error only logging -->
    <logger name="*" minlevel="Error" writeTo="logfile" />
  </rules>
</nlog>
